.App {
  text-align: center;
}

body {
  background-color: #292c34;
}

.card {
  display: flex;
  display: "flex";
  align-items: "center";
  justify-content: "center";
}

.border {
  position: relative;
  margin-right: -500px;
  z-index: 1;
}

.card-art {
  border-radius: 30px;
  display: flex;
  position: relative;
  height: auto;
  width: 100%;
}

.Homepage {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.TextOptions {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.TitleInput {
  width: 300px;
  height: 30px;
  font-size: 20px;
}

.CostInput {
  width: 80px;
  height: 30px;
  font-size: 20px;
}

.BodyInput {
  width: 300px;
  height: 300px;
  font-size: 20px;
}

.CardInputStats {
  display: flex;
    margin: 60px;
}

.DropDown {
  width: 300px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Card-Title {
  position: absolute;
  z-index: 2;
  margin-left: 101px;
  height: 50px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 41px;
  font-family: 'card-title';
}

.Card-Attack {
  position: absolute;
  z-index: 2;
  margin-left: -56px;
  height: 50px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 626px;
  font-family: 'card-title';
  font-size: 30px;
}

.Card-Defense {
  position: absolute;
  z-index: 2;
  margin-left: 256px;
  height: 50px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 625px;
  font-family: 'card-title';
  font-size: 30px;
}

.Card-Cost {
  position: absolute;
  z-index: 2;
  margin-left: 414px;
  height: 44px;
  width: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 41px;
  font-family: 'card-body';
  font-size: 23px;
}

.Card-Body {
  font-size: 20px;
  position: absolute;
  z-index: 2;
  text-align: justify;
  font-family: 'card-body';
  padding-left: 60px;
  padding-top: 450px;
}

.Card-Type {
  position: absolute;
  z-index: 2;
  text-align: center;
  font-family: 'card-body';
  padding-left: 124px;
  padding-top: 608px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 65px;
  font-size: 18px;
}

.Header-Text {
  color: white; 
  margin: 4px;
}

.Image-Inline {
  display: flex;
  flex-direction: column;
  margin: 3px;
}

.Symbol-Tray {
  display: flex;
}

.Download-Button {
  margin-bottom: 10px;
}

.clip-art-mask {
  clip-path: polygon(5% 10%, 10% 5%, 90% 5%, 95% 10%, 95% 95%, 90% 100%, 10% 100%, 5% 95%);
  width: 480px;
  height: 580px;
  padding-top: 75px;
  padding-left: 10px;
  padding-right: 10px;
}

.Image-Options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.Position-Options {
  display: flex;
  flex-direction: row;
  padding: 40px;
}

.Card-Wrapper {
  margin: 10px;
  padding: 20px;
  justify-content: center;
  display: flex;
}

@media (prefers-color-scheme: dark) {
  .myclass {
    background: black; 
    color: gray;
  }
}

@media (prefers-color-scheme: light) {
  .myclass {
    background: white;
    color: darkgray;
  }
}

@font-face {
  font-family: 'card-title';
  font-weight: 900;
  src: local('card-title'), url(./assets/fonts/card-title-type.otf) format('opentype');
}

@font-face {
  font-family: 'card-body';
  font-weight: 900;
  src: local('card-body'), url(./assets/fonts/card-text.otf) format('opentype');
}

@font-face {
  font-family: 'card-cost';
  font-weight: 900;
  src: local('card-cost'), url(./assets/fonts/card-id-copywrite.otf) format('opentype');
}

@media (max-width: 1430px) {
  .Card-Wrapper{
    order: 1;
  }

  .TextOptions {
    order: 3;
  }

  .Image-Options {
    order: 2;
  }

}
